.ctn {
  display: flex;
  gap: 50px;
  border: 1px solid white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 90%;
}

.img {
  width: 200px;
}

.blueLabel {
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem;
  width: 4.5rem;
  height: 1rem;
}

.greenLabel {
  background-color: green;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem;
}

.conditions {
  display: flex;
  gap: 20px;
}
